@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import url(normalize.css);

:root{
    --font-family: "Ancizar Serif", Arial, Helvetica, sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --line-height: 1.7rem;
    --black: #000;
    --white: #fff;
    --primary-color: #001a49;
    --secundary-color: #e66700;
    --terciary-color: #fad7f7;
    --bgcolor: #ececece3;
    --padding-container:100px 0;
    --botton-margin: 1rem;
    --transition: 0.3s;
   


}

body{
    font-family: var(--font-family);
    font-size: 10px;
}

header {
    
}

main {
   
}
h1 {
    
}
p {
    
}
footer {
   text-align:center;
}

.container {
    font-size: 1.2rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{

}

.about{

}

.price{

}

.questions{

}

.footer_container{

}

.footer_copy{

}

.nav_item{

}
.nav_img{

}

.nav_title{

}

.nav_link{

}

.nav_close{

}

.nav_menu{

}

.hero_container{

}

.hero_title{

}

.hero_parrafo{
    
}